language: node_js
node_js:
  - "5"

notifications:
  webhooks:
    - https://liam-server-3000.herokuapp.com/travis/discord
    - https://discordapp.com/api/webhooks/334519811344433164/SPFDHkPNJpsZKUxb_JWVTzHZjdeUsZuEU9yDP67TVGO_Ax3cTgNJ93fKT0m2zZVcp6Nv

after_failure:
  - node "travis.js" "fail" $TRAVIS_BUILD_NUMBER $TRAVIS_COMMIT "$TRAVIS_COMMIT_MESSAGE" 'after'

after_success:
  - node "travis.js" "success" $TRAVIS_BUILD_NUMBER $TRAVIS_COMMIT "$TRAVIS_COMMIT_MESSAGE" 'after'

before_install:
  - npm install request --save
  - node "travis.js" "success" $TRAVIS_BUILD_NUMBER $TRAVIS_COMMIT "$TRAVIS_COMMIT_MESSAGE" 'before'